@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
body{
    margin: 0;
    padding: 0;
    background: url(../img/gettyimages-1283645158-612x612.jpg) no-repeat center top;
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
    backdrop-filter: blur(10px);
}


.login-box {
    width: 320px;
    height: 420px;
    color: rgb(3, 3, 3);
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border: 3px solid;
    box-shadow: 0 0 20px;
  }
  

  .login-box h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
    color: #fff;
  }
  
  .login-box label {
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
  }
  
  .login-box input {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .login-box input[type="text"], .login-box input[type="password"],.login-box input[type="email"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
  }
  
  .login-box input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #0f7aaa;
    color: #fff;
    font-size: 18px;
    position: relative;
    top: 11px;
  }
  
  .login-box input[type="submit"]:hover {
    cursor: pointer;
    background: #322b9e;
    color: #000;
  }
  
  .login-box a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: rgb(255, 255, 255);
  }
  
  .login-box a:hover {
    color: #fff;
  }
  .login-box .email i{
    position: relative;
    color: #7d2ae8;
    font-size: 17px;
    top: 30px;
  }
  .login-box .key i{
    position: relative;
    color: #7d2ae8;
    font-size: 17px;
    top: 30px;
  }